.hybrid-buttons{float:left;margin-bottom:10px;margin-right:10px}
#hybrid_design_icons .fa{display:block;font-size:28px}
#hybrid_design_icons .note{float:left}
.theme_view{float:none;padding:5px;background:#FAFAFA;border:1px solid #CCC;vertical-align:middle;width:50%;margin:2%;text-align:center;border-radius:5px}
.theme_view img{vertical-align:middle;width:100%}